@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0a0c1b;
    color: white;
}

main {
   
}

article {
    background-color: #1c1938;
    border-radius: 1rem 1rem 1rem 1rem;
    
}
.container-img{
    display: flex;
    background-color: #A858DA;
    border-radius: 1rem 1rem 0rem 0rem;
}
.container-img img{
   /* mix-blend-mode: darken; */
   mix-blend-mode: multiply;
    opacity: 1;
}
img {
    width: 22.5rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.sesao-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sesao-neutra{
    background-color: rgba(255, 192, 203, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
.bloco-titulo{
    display: flex;
    align-items: flex-end;
    width: 18rem;
    height: 9rem;
}
h1 {
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
}
.insights{
    color: #a564d3;
}

p {
background-color: rgba(0, 128, 0, 0);
    display: flex;
    align-items:flex-end;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    width: 18rem;
    height: 6.5rem;
    font-size: 1rem;
    color: #aba8c3;
}

.sesao-secundaria {
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17rem;
    gap: 1.5rem;
}

.blocos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.numeros {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.num-nomes {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #aba8c3;
}